# Supabase configuration
VITE_SUPABASE_URL=https://ejknagjjxpesncyljnef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqa25hZ2pqeHBlc25jeWxqbmVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NDI2MDAsImV4cCI6MjA5NDMxODYwMH0.QVAtUDPDuzkrKMvMPPGlRaE6WxUYsS3cz6F9pbFXjoY
